<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FrenchBot</title>
  <link rel="stylesheet" href="../static/styles/style1.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
  <style>
    .aa {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px; /* Adjust the width as per your needs */
      height: auto;
    }
  </style>

</head>

<body>

  
  <form action="/index" method="POST">
    <img class="aa" src="emsi.png" alt="Image de coin supérieur droit">
    <br>
    <h1>Bienvenue</h1><br>
    <p class="choose-email">Entrer votre nom d'utilisateur :</p>

    <div class="inputs">
      <input type="text" name="username" placeholder="Nom d'utilisateur" />
    </div>
    <br>
    <div align="center">
      <button type="submit">Continuer</button>
    </div>
    <p class="inscription"><span></span></p>
    <br>
    <p class="choose-email">Nos connexions :</p>
    <div class="social-media">
      <a href="https://www.linkedin.com/in/alyae-essiba-31a943227/"><p><i class="fab fa-linkedin"></i></p>
      <a href="https://github.com/Alyaeessiba"><p><i class="fab fa-github"></i></p></a>
      <a href="https://twitter.com/AlyaeEssiba1"></a><p><i class="fab fa-twitter"></i></p>
    </div>
  </form>
</body>

</html>